---

---

<section id="about" class="px-6 py-12 max-w-7xl mx-auto flex flex-col md:flex-row items-center">
    <div class="space-y-4">
        <h2 class="text-3xl font-bold text-blue-500">Обо мне</h2>
        <p class="text-gray-800">
            Меня зовут <strong>Лариса, и я учитель-логопед.</strong>
        </p>
        <p class="text-gray-800">
            Я учитель-логопед средней общеобразовательной школы № 6 г. Сосновый Бор. В 2008 году поступила в РГПУ им. А.И. Герцена, и уже на первом курсе поняла, что выбрала правильный путь. С 2013 года работаю в средней школе № 6 в Сосновом Бору, занимаюсь инклюзивным образованием детей с ограниченными возможностями здоровья.
        </p>
        <div class="text-gray-800">
            <p class="font-medium">Мои ценности:</p>
            <ul class="list-disc pl-5">
                <li>Индивидуальный подход к каждому ученику</li>
                <li>Создание комфортной и поддерживающей атмосферы</li>
                <li>Стремление к постоянному профессиональному развитию</li>
            </ul>
        </div>
        <p class="text-gray-800">
            Моё педагогическое кредо: Нарушение речевого развития ребёнка для меня — это загадочная дверь, к которой необходимо найти подходящий ключ. Порой, даже на первый взгляд схожие ситуации требуют совершенно различных решений. Чем сложнее задача, тем больше вдохновения она вызывает — это возможность исследовать новые методы, приёмы и методики, углубляться в научные исследования и расширять свои горизонты.
        </p>
        <p class="text-gray-800">
            Каждый ребёнок — это уникальный мир, и моя задача — помочь ему открыть эту дверь к полноценному общению. Я верю, что терпение, креативность и индивидуальный подход могут сделать невозможное возможным. Моя работа — это не просто профессия, а призвание, в котором я нахожу радость и удовлетворение, видя, как дети преодолевают преграды и раскрывают свои способности.
        </p>
    </div>
</section>
