---

---

<header class="p-6 max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center md:justify-start md:items-center md:space-x-6">
    <div class="flex items-center space-x-3 mb-4 md:mb-0 md:flex-row">
        <div class="flex space-x-2">
            <span class="w-3 h-3 bg-red-500 rounded-full"></span>
            <span class="w-3 h-3 bg-blue-500 rounded-full"></span>
            <span class="w-3 h-3 bg-green-500 rounded-full"></span>
        </div>
        <h1 class="text-xl font-bold text-gray-900">Мусорина Лариса</h1>
    </div>
    <nav class="flex flex-grow md:flex-row mt-4 gap-4 space-y-4">
        <a href="#about" class="hover:text-blue-500">Обо мне</a>
        <a href="#education" class="hover:text-blue-500">Образование</a>
        <a href="#materials" class="hover:text-blue-500">Полезные материалы</a>
    </nav>
</header>
