---

---

<section id="materials" class="px-6 py-12 max-w-7xl mx-auto items-center">
    <div class="space-y-6">
        <h2 class="text-3xl font-bold text-blue-500">Полезные материалы</h2>
    </div>

    <div class="overflow-x-auto mt-8">
        <table class="max-w-3xl w-full mx-auto table-auto border-collapse">
            <thead class="bg-blue-400 text-white">
            <tr>
                <th class="px-6 py-4 text-left">Родителю</th>
                <th class="px-6 py-4 text-left">Учителю</th>
            </tr>
            </thead>
            <tbody class="text-gray-800">
            <tr>
                <td class="px-6 py-4">
                    <ul class="space-y-2">
                        <li><a href="/materials/parents/Анкета%20для%20родителей.docx" class="text-blue-500 hover:underline">Анкета для родителей</a></li>
                        <li><a href="/materials/parents/Логопед%20родителям.docx" class="text-blue-500 hover:underline">Логопед родителям</a></li>
                        <li><a href="/materials/parents/Рекомендации%20для%20родителей.docx" class="text-blue-500 hover:underline">Рекомендации для родителей</a></li>
                        <li><a href="/materials/parents/Советы%20логопеда%20родителям.docx" class="text-blue-500 hover:underline">Советы логопеда родителям</a></li>
                    </ul>
                </td>
                <td class="px-6 py-4">
                    <ul class="space-y-2">
                        <li><a href="/materials/teacher/Алфавит.docx" class="text-blue-500 hover:underline">Алфавит</a></li>
                        <li><a href="/materials/teacher/Диктанты.docx" class="text-blue-500 hover:underline">Диктанты</a></li>
                        <li><a href="/materials/teacher/Диктанты%20Начало%20года.docx" class="text-blue-500 hover:underline">Диктанты Начало года</a></li>
                        <li><a href="/materials/teacher/Диктанты%202018.docx" class="text-blue-500 hover:underline">Диктанты 2018</a></li>
                        <li><a href="/materials/teacher/Косая%20линия.docx" class="text-blue-500 hover:underline">Косая линия</a></li>
                        <li><a href="/materials/teacher/Логопедическая%20диагностика.docx" class="text-blue-500 hover:underline">Логопедическая диагностика</a></li>
                        <li><a href="/materials/teacher/Методические%20рекомендации.docx" class="text-blue-500 hover:underline">Методические рекомендации</a></li>
                        <li><a href="/materials/teacher/Речь.docx" class="text-blue-500 hover:underline">Речь</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>